.register-form,
.login-form {
  width: 500px;
  margin: 60px auto;
  display: block;
}

.page__title {
  font-size: 24px;
  width: 220px;
  text-align: center;
  margin: 20px auto;
}

.entry__name {
  font-weight: bold;
}

.input {
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.register-button,
.login-button {
  background-color: black;
  color: white;
  border-style: solid;
  border-radius: 3px;
  width: 100%;
  margin: 10px 0;
  cursor: pointer;
  padding: 5px 0;
}

.link {
  display: block;
  width: 130px;
  color: blue;
  text-align: center;
  margin: auto;
}