body {
  background-color: #ececec;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background-color: #000000;
  color: #FFFFFF;
  vertical-align: middle;
}

.header-button {
  margin: 0 10px;
}

.logout-button {
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
}

.logout {
  display: inline;
}