body {
  background-color: #ececec;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background-color: #000000;
  color: #FFFFFF;
  vertical-align: middle;
}

.header-button {
  margin: 0 10px;
}

.logout-button {
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
}

.logout {
  display: inline;
}

.table {
  background-color: #FFFFFF;
  border-radius: 10px;
}

.tr {
  border: 3px solid #ececec;
  border-left: 0;
  border-right: 0;
}

.button {
  color: #FFFFFF;
  background-color: #000000;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 45px;
  margin: 40px 0;
  border-radius: 10px;
  cursor: pointer;
  float: right;
}