.attendance-form{
  width: 100%;
}

.th,
.td {
  padding: 10px 30px;
  width: 175px;
}

.td_name {
  font-weight: bold;
  font-size: 20px;
}

.input-data {
  font-size: 20px;
  display: inline-block;
  line-height: 1.5;
  height: 30px;
  width: 135px;
}

.td-note{
  display: inline-block;
}
.note{
  display: inline-block;
  overflow-wrap: break-word;
  width: 200%;
}
.confirmed{
  background-color: #7a7a7a;
  border: none;
  cursor: default;
}