.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  width: 700px;
}

.tab {
  border-bottom: solid 1px;
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  font-size: 20px;
}

.tab-items {
  margin: 10px;
}

.active {
  font-weight: bold;
}

.state {
  width: 60px;
}

.name {
  width: 100px;
}

.target-date {
  width: 100px;
}

.reason {
  width: 100px;
}

.date {
  width: 100px;
}

.detail {
  width: 35px;
  font-weight: bold;
}
.note{
  display: inline-block;
  width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}